.header {
  background-color: #cecece;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.cardNew {
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.cardNew:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.containerNew {
  padding: 2px 16px;
  background-color: #ebebeb;
}

img {
  border-radius: 5px 5px 0 0;
}